<a href="https://colab.research.google.com/github/makhijakabir/machine-learning/blob/main/bayesClassifierESFlibrary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import recall_score, precision_score, f1_score

In [2]:
DATA_JSON_FILE = '/content/drive/MyDrive/Colab Notebooks/SpamData/01_Processing/exmail-test-data.json'

In [3]:
data = pd.read_json(DATA_JSON_FILE)

In [6]:
data

      CATEGORY  ...                               FILE_NAME
0            1  ...  00273.0c7d73771d79e84e2aab8c909c5bb210
1            1  ...  00154.b6c448ccff434e2dbe2c7c200a36aa31
2            1  ...  00223.349b9b0748ee72bad60729ffaae2cc00
3            1  ...  00351.fd1b8a6cd42e81125fb38c2660cd9317
4            1  ...  00001.7848dde101aa985090474a91ec93fcf0
...        ...  ...                                     ...
5791         0  ...  00695.2de9d6d30a7713e550b4fd02bb35e7b4
5792         0  ...  01137.e0afde7fc471f626742746c738013750
5793         0  ...  01294.7f208bf4ae152863fd40f25e2e121d49
5794         0  ...  00747.352d424267d36975a7b40b85ffd0885e
5795         0  ...  00654.7e84d693f6d2dc216aa501c47db607f7

[5796 rows x 3 columns]

In [7]:
data.shape

(5796, 3)

In [9]:
data.sort_index(inplace=True)

In [10]:
data

      CATEGORY  ...                               FILE_NAME
0            1  ...  00273.0c7d73771d79e84e2aab8c909c5bb210
1            1  ...  00154.b6c448ccff434e2dbe2c7c200a36aa31
2            1  ...  00223.349b9b0748ee72bad60729ffaae2cc00
3            1  ...  00351.fd1b8a6cd42e81125fb38c2660cd9317
4            1  ...  00001.7848dde101aa985090474a91ec93fcf0
...        ...  ...                                     ...
5791         0  ...  00695.2de9d6d30a7713e550b4fd02bb35e7b4
5792         0  ...  01137.e0afde7fc471f626742746c738013750
5793         0  ...  01294.7f208bf4ae152863fd40f25e2e121d49
5794         0  ...  00747.352d424267d36975a7b40b85ffd0885e
5795         0  ...  00654.7e84d693f6d2dc216aa501c47db607f7

[5796 rows x 3 columns]

In [14]:
vectorizer = CountVectorizer(stop_words='english')

In [15]:
all_features = vectorizer.fit_transform(data.MESSAGE)

In [17]:
all_features.shape

(5796, 102694)

In [ ]:
vectorizer.vocabulary_

In [20]:
xTrain, xTest, yTrain, yTest = train_test_split(all_features, data.CATEGORY, test_size=0.3, random_state=88)

In [25]:
classifier = MultinomialNB()

In [26]:
classifier.fit(xTrain, yTrain)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [31]:
nrCorrect = (yTest == classifier.predict(xTest)).sum()
nrInCorrect = yTest.size - nrCorrect

print("The number of correctly classified emails is:", nrCorrect)
print("The number of in-correctly classified emails is:", nrInCorrect)

The number of correctly classified emails is: 1650
The number of in-correctly classified emails is: 89

In [33]:
fracWrong = nrInCorrect / (nrCorrect + nrInCorrect)
print('The testing accuracy of the model is:', 1-fracWrong)

The testing accuracy of the model is: 0.948821161587119

In [34]:
classifier.score(xTest, yTest)

0.948821161587119

In [36]:
recall_score(yTest, classifier.predict(xTest))

0.851985559566787

In [37]:
precision_score(yTest, classifier.predict(xTest))

0.9853862212943633

In [38]:
f1_score(yTest, classifier.predict(xTest))

0.9138431752178122