<a href="https://colab.research.google.com/github/makhijakabir/machine-learning/blob/main/neenopalTask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NeenOpal Task 2

###Please attempt the questions that follow in Python

###Link to the File: Python Task Dummy Data

* Read the csv or excel file. 
* Change the datatypes of the column and check the memory usage before and after the change in the data types.
* Dump the data into the mysql database.
* Index the column after the data is inserted.

####Note: Please make a note we are dumping the data everyday so first delete the indexing from the table and then insert the data.

####Submission can be a document or any IDE Notebook

##Libraries & Constants

In [57]:
import pandas as pd 
from pandas import DataFrame
import numpy as np

import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
engine = sqlalchemy.create_engine('mysql+mysqldb://root:Residency01*@localhost/usedbikes')

##Read the CSV or Excel File

In [30]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/neenopalData/used_bikes.csv')
data.describe()

              price     kms_driven         age        power
count  1.490000e+02     149.000000  149.000000   149.000000
mean   1.163103e+05   23799.644295    5.469799   261.671141
std    1.729468e+05   34311.863035    2.788870   189.247494
min    1.110000e+04       3.000000    1.000000   100.000000
25%    4.500000e+04    9900.000000    3.000000   150.000000
50%    7.000000e+04   17500.000000    5.000000   200.000000
75%    1.071000e+05   29305.000000    7.000000   350.000000
max    1.350000e+06  357000.000000   16.000000  1299.000000

In [31]:
data

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha

##Change the datatypes of the column and check the memory usage before and after the change in the data types.

###Memory Utilization by the un-converted DataFrame

In [32]:
type(data)

pandas.core.frame.DataFrame

In [33]:
print(data.dtypes)

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [34]:
data.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 9.4+ KB

###Conversion of the **Datatypes**

####Converting Python object datatype to String to save memory

In [35]:
data[['bike_name', 'city', 'owner', 'brand']] = data[['bike_name', 'city', 'owner', 'brand']].astype("string")

In [36]:
data.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    string
 1   price       149 non-null    float64
 2   city        149 non-null    string
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    string
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    string
dtypes: float64(4), string(4)
memory usage: 9.4 KB

####Optimizing the Age, Owner, & Brand Column

In [40]:
data.brand.unique()

<StringArray>
[            'TVS',   'Royal Enfield',         'Triumph',          'Yamaha',
           'Honda',            'Hero',           'Bajaj',          'Suzuki',
         'Benelli',             'KTM',        'Mahindra',        'Kawasaki',
          'Ducati',         'Hyosung', 'Harley-Davidson']
Length: 15, dtype: string

In [41]:
data.age.unique()

/usr/local/lib/python3.7/dist-packages/pandas/io/formats/format.py:1429: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())

[3.0, 4.0, 8.0, 6.0, 7.0, ..., 10.0, 14.0, 12.0, 11.0, 1.0]
Length: 15
Categories (15, float64): [1.0, 2.0, 3.0, 4.0, ..., 12.0, 13.0, 14.0, 16.0]

In [42]:
data.owner.unique()

['First Owner', 'Second Owner', 'Third Owner']
Categories (3, object): ['First Owner', 'Second Owner', 'Third Owner']

In [43]:
data[['age', 'owner', 'brand']] = data[['age', 'owner', 'brand']].astype("category")

In [44]:
data.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    string
 1   price       149 non-null    float64
 2   city        149 non-null    string
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    category
 5   age         149 non-null    category
 6   power       149 non-null    float64
 7   brand       149 non-null    category
dtypes: category(3), float64(3), string(2)
memory usage: 7.8 KB

####Optimizing the Power Column

In [45]:
data[['power']] = data[['power']].astype("float16")

In [46]:
data.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    string
 1   price       149 non-null    float64
 2   city        149 non-null    string
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    category
 5   age         149 non-null    category
 6   power       149 non-null    float16
 7   brand       149 non-null    category
dtypes: category(3), float16(1), float64(2), string(2)
memory usage: 7.0 KB

##Dump the data into the mysql database.

###Dropping the Index

In [47]:
data.reset_index(drop=True, inplace=True)

In [48]:
data

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha

###Dumping to MySQL Database

In [ ]:
data.to_sql(con=engine,name='usedBikes', if_exists='append',index=False)

##Index the column after the data is inserted.

In [82]:
index = pd.Index(range(0, 149))

In [83]:
data = data.set_index(index)

In [84]:
data

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
144,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield
145,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda
146,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda
147,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha
148,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha