<a href="https://colab.research.google.com/github/makhijakabir/machine-learning/blob/main/neenopalTask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/neenopalData/Records Matching Task - data1.csv')
data2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/neenopalData/Records Matching Task - data2.csv')

In [ ]:
data1

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075    3
1     CA-2014-100090  FUR-TA-10003715    3
2     CA-2014-100090  OFF-BI-10001597    6
3     CA-2014-100293  OFF-PA-10000176    6
4     CA-2014-100328  OFF-BI-10000343    1
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100    3
9474  US-2017-169551  OFF-ST-10004835    3
9475  US-2017-169551  TEC-AC-10002018    3
9476  US-2017-169551  TEC-AC-10003033    2
9477  US-2017-169551  TEC-PH-10001363    2

[9478 rows x 3 columns]

In [ ]:
data2

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
9474  US-2017-169551  OFF-PA-10004100    3
9475  US-2017-169551  OFF-ST-10004835    3
9476  US-2017-169551  TEC-AC-10002018    3
9477  US-2017-169551  TEC-AC-10003033    2
9478  US-2017-169551  TEC-PH-10001363    2

[9479 rows x 3 columns]

In [ ]:
#Available in Data 1 and not in Data 2

data = data1.merge(data2, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

In [ ]:
data

            Order ID       Product ID  Qty     _merge
0     CA-2014-100006  TEC-PH-10002075    3  left_only
10    CA-2014-100678  OFF-EN-10000056    3  left_only
19    CA-2014-100895  OFF-AR-10004511    2  left_only
35    CA-2014-101560  OFF-BI-10000309    3  left_only
61    CA-2014-102673  OFF-LA-10001771   12  left_only
...              ...              ...  ...        ...
9390  US-2017-160836  OFF-AP-10001626    2  left_only
9403  US-2017-162558  FUR-FU-10002364    2  left_only
9420  US-2017-163657  OFF-BI-10000138    5  left_only
9427  US-2017-164056  FUR-TA-10001307    5  left_only
9435  US-2017-165456  FUR-CH-10003981    6  left_only

[507 rows x 4 columns]

In [ ]:
#Available in Data 2 and not in Data 1

data = data2.merge(data1, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

In [ ]:
data

            Order ID       Product ID  Qty     _merge
11    CA-2014-100706  TEC-AC-10001314    2  left_only
14    CA-2014-100762  OFF-PA-10001815    3  left_only
30    CA-2014-101427  OFF-AR-10002257    3  left_only
56    CA-2014-102652  FUR-FU-10001918    7  left_only
63    CA-2014-102869  OFF-PA-10000788    3  left_only
...              ...              ...  ...        ...
9428  US-2017-165344  OFF-BI-10003196   10  left_only
9433  US-2017-165358  TEC-CO-10001943    5  left_only
9455  US-2017-167920  OFF-AP-10000159    5  left_only
9471  US-2017-169502  OFF-AP-10001947    5  left_only
9473  US-2017-169551  FUR-BO-10001519    3  left_only

[508 rows x 4 columns]

In [ ]:
#Unique Record 4

data = data1.merge(data2, how = 'inner', indicator=False)

In [ ]:
data

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
8966  US-2017-169551  OFF-PA-10004100    3
8967  US-2017-169551  OFF-ST-10004835    3
8968  US-2017-169551  TEC-AC-10002018    3
8969  US-2017-169551  TEC-AC-10003033    2
8970  US-2017-169551  TEC-PH-10001363    2

[8971 rows x 3 columns]